.modal__btn {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    padding: 6px 15px;
    border: 1px solid #001b3a;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    height: 33px;
  }
  
  .modal__btn__primary {
    background-color: #ea580c;
    border: none;
    color: #fff;
    margin-left: 16px;
  }