.modal {
  font-family: 'Nunito Sans', sans-serif !important;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.05));
  padding: 16px 16px 18px 16px;
  width: 616px;
  max-height: 100vh;
  border-radius: 4px;
  border-top: 8px solid #001b3a;
  position: relative;
}

.modal__close {
  position: absolute;
  background-image: url('../../../public/images/close_icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  width: 36px;
  height: 36px;
  right: 0px;
  top: 0;
  transform: translate(50%, -72%);
}

.modal__close:focus {
  outline: 0;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}

.modal__title::after {
  content: '';
  border-top: 1px solid #eaedf3;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
}

.modal__content {
  margin-top: 16px;
  margin-bottom: 24px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  p {
    margin: 0;
  }
}

.modal__footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}



/**************************\
      Demo Animation Style
    \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal__slide {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.micromodal__slide.is__open {
  opacity: 1;
  pointer-events: visible;
}

.micromodal__slide.is__close {
  opacity: 0;
}

.micromodal__slide[aria-hidden=false] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal__slide[aria-hidden=false] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal__slide[aria-hidden=true] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal__slide[aria-hidden=true] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal__slide .modal__container,
.micromodal__slide .modal__overlay {
  will-change: transform;
}
