.container {
  height: 100vh;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__btn {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding: 6px 15px;
  border: 1px solid #001b3a;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 33px;
}

.footer_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}