.container {
  height: 100vh;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}